/* /MyApp.bolero.rz.scp.css */
#counter[b-n5pjm8ofpz] {
  width: 80px;
}

#notification-area[b-n5pjm8ofpz] {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#notification-area > div[b-n5pjm8ofpz] {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
